
process {

	withName:PRESEQ_LCEXTRAP
        {
        container = 'file:///cvmfs/containers.biocommons.aarnet.edu.au/p/r/preseq-3.1.2--h06ef8b0_1.img'	
	}


	withName:MULTIQC_CUSTOM_BIOTYPE
        {
        container = 'file:///cvmfs/containers.biocommons.aarnet.edu.au/p/y/python-3.8.3.img'
        }


	withName:SAMPLESHEET_CHECK
        {
        container = 'file:///cvmfs/containers.biocommons.aarnet.edu.au/p/y/python-3.8.3.img'
        }

	withName:SALMON_TX2GENE
        {
        container = 'file:///cvmfs/containers.biocommons.aarnet.edu.au/p/y/python-3.8.3.img'
        }
		
	withName:CAT_ADDITIONAL_FASTA
        {
        container = 'file:///cvmfs/containers.biocommons.aarnet.edu.au/p/y/python-3.8.3.img'
        }

	withName:GTF_GENE_FILTER
        {
        container = 'file:///cvmfs/containers.biocommons.aarnet.edu.au/p/y/python-3.8.3.img'
        }

	
	withName:STRINGTIE
        {
        container = 'file:///cvmfs/containers.biocommons.aarnet.edu.au/s/t/stringtie-2.1.7--h978d192_0.img'
        }

	withName:SUBREAD_FEATURECOUNTS
        {
        container = 'file:///cvmfs/containers.biocommons.aarnet.edu.au/s/u/subread-2.0.1--hed695b0_0.img'
	}	



	withName:RSEQC_INFEREXPERIMENT
        {
        container = 'file:///cvmfs/containers.biocommons.aarnet.edu.au/r/s/rseqc-3.0.1--py37h516909a_1.img'
        }

	withName:SALMON_TXIMPORT
        {
        container = 'file:///cvmfs/containers.biocommons.aarnet.edu.au/b/i/bioconductor-tximeta-1.8.0--r40_0.img'
        }


	withName:RSEM_CALCULATEEXPRESSION
        {
        container = 'file:///cvmfs/containers.biocommons.aarnet.edu.au/m/u/mulled-v2-cf0123ef83b3c38c13e3b0696a3f285d3f20f15b-606b713ec440e799d53a2b51a6e79dbfd28ecf3e-0.img'
        }

	withName:DESEQ2_QC
        {
        container = 'file:///cvmfs/containers.biocommons.aarnet.edu.au/m/u/mulled-v2-8849acf39a43cdd6c839a369a74c0adc823e2f91-ab110436faf952a33575c64dd74615a84011450b-0.img'
        }
	

	withName:BBMAP_BBSPLIT 
	{
	container = 'file:///cvmfs/containers.biocommons.aarnet.edu.au/b/b/bbmap-38.93--he522d1c_0.img'
	}

	withName:BEDTOOLS_GENOMECOV
	{
	container = 'file:///cvmfs/containers.biocommons.aarnet.edu.au/b/e/bedtools-2.30.0--hc088bd4_0.img'
	}

	withName:MULTIQC 
        {
	container = 'file:///cvmfs/containers.biocommons.aarnet.edu.au/m/u/multiqc-1.10.1--py_0.img'
        }

	withName:CUSTOM_DUMPSOFTWAREVERSIONS
        {
        container = 'file:///cvmfs/containers.biocommons.aarnet.edu.au/m/u/multiqc-1.11--pyhdfd78af_0.img'
        }


	withName:SALMON_QUANT
        {
	container = 'file:///cvmfs/containers.biocommons.aarnet.edu.au/s/a/salmon-1.5.2--h84f40af_0.img'
        }

	withName:STAR_ALIGN
        {
	container = 'file:///cvmfs/containers.biocommons.aarnet.edu.au/s/t/star-2.6.1d--0.img'
        }

	withName:FASTQC
        {
	container = 'file:///cvmfs/containers.biocommons.aarnet.edu.au/f/a/fastqc-0.11.9--0.img'
        }	

	withName:TRIMGALORE
        {
	container = 'file:///cvmfs/containers.biocommons.aarnet.edu.au/t/r/trim-galore-0.6.7--hdfd78af_0.img'
        }

	withName:QUALIMAP_RNASEQ
        {
	container = 'file:///cvmfs/containers.biocommons.aarnet.edu.au/q/u/qualimap-2.2.2d--1.img'
        }
	

	withName:PICARD_MARKDUPLICATES
        {
	container = 'file:///cvmfs/containers.biocommons.aarnet.edu.au/p/i/picard-2.25.7--hdfd78af_0.img'
        }



	withName:UCSC_BEDCLIP
        {
	container = 'file:///cvmfs/containers.biocommons.aarnet.edu.au/u/c/ucsc-bedclip-377--h0b8a92a_2.img'

        }

	withName:UCSC_BEDGRAPHTOBIGWIG
        {

	container = 'file:///cvmfs/containers.biocommons.aarnet.edu.au/u/c/ucsc-bedgraphtobigwig-377--h446ed27_1.img'

        }

	withName:SAMTOOLS_FLAGSTAT
        {

        container = 'file:///cvmfs/containers.biocommons.aarnet.edu.au/s/a/samtools-1.13--h8c37831_0.img'
	}

	withName:GET_CHROM_SIZES
        {

        container = 'file:///cvmfs/containers.biocommons.aarnet.edu.au/s/a/samtools-1.10--h9402c20_2.img'
        }

	withName:SAMTOOLS_SORT
        {

        container = 'file:///cvmfs/containers.biocommons.aarnet.edu.au/s/a/samtools-1.13--h8c37831_0.img'
        }

	withName:SAMTOOLS_STATS
        {

        container = 'file:///cvmfs/containers.biocommons.aarnet.edu.au/s/a/samtools-1.13--h8c37831_0.img'
        }


	withName:SAMTOOLS_IDXSTATS
        {

        container = 'file:///cvmfs/containers.biocommons.aarnet.edu.au/s/a/samtools-1.13--h8c37831_0.img'
        }
	
	withName:SAMTOOLS_INDEX
        {

        container = 'file:///cvmfs/containers.biocommons.aarnet.edu.au/s/a/samtools-1.13--h8c37831_0.img'
        }


	withName:DUPRADAR
        {

        container = 'file:///cvmfs/containers.biocommons.aarnet.edu.au/b/i/bioconductor-dupradar-1.18.0--r40_1.img'
        }


	withName:SALMON_SUMMARIZEDEXPERIMENT
	{
	container = 'file:///cvmfs/containers.biocommons.aarnet.edu.au/b/i/bioconductor-summarizedexperiment-1.20.0--r40_0.img'
	}

	
	

}



singularity {
    enabled = true
}
