// test profile for Nimbus BioImage + sHPC

// Replace STAR container with sHPC module
process {
    withName: 'BEDTOOLS_GENOMECOV'  { module = 'quay.io/biocontainers/bedtools/2.30.0--h468198e_3/module' }
    withName: 'FASTQC'              { module = 'quay.io/biocontainers/fastqc/0.12.1--hdfd78af_0/module' }
    withName: 'QUALIMAP_RNASEQ'     { module = 'quay.io/biocontainers/qualimap/2.2.2d--hdfd78af_2/module' }
    withName: 'STAR_ALIGN'          { module = 'quay.io/biocontainers/star/2.7.9a--h9ee0642_0/module' }
    withName: 'RSEQC_BAMSTAT | RSEQC_INFEREXPERIMENT | RSEQC_INNERDISTANCE | RSEQC_JUNCTIONANNOTATION | RSEQC_JUNCTIONSATURATION | RSEQC_READDISTRIBUTION | RSEQC_READDUPLICATION' { module = 'quay.io/biocontainers/rseqc/5.0.1--py39hbf8eff0_0/module' } 
    withName: 'SALMON_INDEX | SALMON_QUANT' { module = 'quay.io/biocontainers/salmon/1.9.0--h7e5ed60_1/module' }   
    withName: 'STRINGTIE_STRINGTIE' { module = 'quay.io/biocontainers/stringtie/2.2.1--ha04fe3b_3/module' }
}